Labs/Part 01/Module 03/Lesson 03/Tensorflow lab/*.zip
Labs/Part 01/Module 03/Lesson 03/Tensorflow lab/*.pickle
Labs/Part 01/Module 03/Lesson 03/Tensorflow lab/checkpoints/
Labs/Part 01/Module 03/Lesson 08/AlexNet/CarND-Alexnet-Feature-Extraction/AlexNet Dataset/*