Labs/Part 01/Module 03/Lesson 03/Tensorflow lab/*.zip
Labs/Part 01/Module 03/Lesson 03/Tensorflow lab/*.pickle
Labs/Part 01/Module 03/Lesson 03/Tensorflow lab/checkpoints/
Labs/Part 01/Module 03/Lesson 08/AlexNet/CarND-Alexnet-Feature-Extraction/AlexNet Dataset/*
Labs/Part 01/Module 03/Lesson 08/Transfer Learning/CarND-Transfer-Learning-Lab-master/cif_ckpt
Labs/Part 01/Module 03/Lesson 08/Transfer Learning/CarND-Transfer-Learning-Lab-master/*.zip
Labs/Part 01/Module 03/Lesson 08/Transfer Learning/CarND-Transfer-Learning-Lab-master/*.p
Projects/Behavioural Cloning/data
Labs/Part 03/Module 03/CarND-Object-Detection-Lab-master/data_road/