Labs/Part 01/Module 03/Lesson 03/Tensorflow lab/*.zip
Labs/Part 01/Module 03/Lesson 03/Tensorflow lab/*.pickle
Labs/Part 01/Module 03/Lesson 03/Tensorflow lab/checkpoints/
Labs/Part 01/Module 03/Lesson 08/AlexNet/CarND-Alexnet-Feature-Extraction/AlexNet Dataset/*
Labs/Part 01/Module 03/Lesson 08/Transfer Learning/CarND-Transfer-Learning-Lab-master/cif_ckpt
Labs/Part 01/Module 03/Lesson 08/Transfer Learning/CarND-Transfer-Learning-Lab-master/*.zip
Labs/Part 01/Module 03/Lesson 08/Transfer Learning/CarND-Transfer-Learning-Lab-master/*.p
Projects/Behavioural Cloning/data
Labs/Part 03/Module 03/CarND-Object-Detection-Lab-master/data_road/
Projects/Behavioural Cloning/*.h5
Projects/Behavioural Cloning/*.keras
Labs/Part 03/Module 03/CarND-Object-Detection-Lab-master/rf*
Labs/Part 03/Module 03/CarND-Object-Detection-Lab-master/faster*
Labs/Part 03/Module 03/CarND-Object-Detection-Lab-master/ssd*
Labs/Part 01/Module 04/Lesson 09/images/non-vehicles_smallset
Labs/Part 01/Module 04/Lesson 09/images/vehicles_smallset
Research Papers
Projects/Vehicle Detection/data/*
Projects/Vehicle Detection/object-dataset/*
Projects/Vehicle Detection/object-detection-crowdai/*
Projects/Semantic Segmentation/*.h5
Projects/Semantic Segmentation/*.keras
Projects/Semantic Segmentation/data/*